/*
========================================================================================
    BatchBlaster config
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/


// Global default params, used in configs
params {

    // Boilerplate options
    outdir                     = "${launchDir}/results"
    tracedir                   = "${params.outdir}/pipeline_info"
    validate_params            = true
    show_hidden_params         = false
    help                       = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '100.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}


// Process-specific parameters
process {

    // Error strategy
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Default resources
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
    time   = { check_max( 3.h  * task.attempt, 'time'   ) }

    // Per-process resources
    withName:blast{
        cpus   = 10
        memory = { check_max( 2000.MB * task.attempt, 'memory'  ) }
        time   = { check_max( 5.h     * task.attempt, 'time'    ) }
    }
    withName:blast_merge{
        cpus   = 1
        memory = { check_max( 1.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h  * task.attempt, 'time'    ) }
    }
    withName:parse_blast{
        cpus   = 4
        memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 3.h   * task.attempt, 'time'    ) }
    }

}  // end of process configs


